
.charts-container {
    box-sizing: border-box;
    padding: 60px 40px 0;
    .charts-demo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .CC-dragBox {
           
        }
    }
}